@model Lombiq.DownloadAs.Models.DownloadAsPdfSettingsPart

<fieldset>
    <legend>@T("Download as PDF Settings")</legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.CloudConvertApiKey, T("CloudConvert API key"))
            @Html.TextBoxFor(m => m.CloudConvertApiKey, new { @class = "text large", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.CloudConvertApiKey)
            @Html.Hint(T("The personal API key from CloudConvert to use it for accessing the conversion API."))
        </li>
    </ol>
</fieldset>